@media screen and (max-width:991px) {
    .nav-toggle{
        display: block;
        margin-right: 20px;
    }
    .nav-container{
        overflow: initial;
    }
    .nav-links{
        background-color: #fff;
        left: -100%;
        top: 100%;
        width: 100%;
        padding-block: 20px;
        transition: 0.2s ease-in-out;
    }
    .nav-links{
        position: absolute;
    }
    .nav-links.active{
        left: 0%;
    }
    .nav-links ul{
        flex-direction: column;
    }
    .examples-container{
        gap: 20px;
        margin-top: 20px;
    }
    .examples-area{
        width: 45%;
        height: 180px;
    }
    .cta-section_container{
        padding-top: 30px;
    }
}

@media screen and (max-width:767px) {
    .header-container{
        flex-direction: column-reverse;
    }
    .left-container{
        max-width: 100vh;
        text-align: center;
    }
    .primary-button{
        width: 100%;
    }
    .feature-card{
        min-width: 46%;
    }
    .bigfeature-section{
        flex-direction: column;
    }
    .second-bigfeature{
        flex-direction: column-reverse;
    }
    .footer-container{
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .link-colomn{
        align-items: stretch;
    }
}

@media screen and (max-width:479px) {
    :root{
        --padding-inline-section:10px;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1.2rem;
    }
    p{
        font-size: 1rem;
    }
    .feature-card{
        min-width: 100%;
    }
    .examples-area{
        width: 100%;
    }
}