*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
.outerbox{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left,rgb(43, 124, 138),rgb(166, 207, 212));
}
.inerbox{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 20%;
    padding: 20px 40px;
    background-color:#ffffffcc;
    background: linear-gradient(to top right,#ffffffff,#ffffff33);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    box-shadow: 2px 2px 5px #2773a5;
    z-index: 2;
}
.singup-header h1{
    font-size: 50px;
    color: rgb(45, 41, 41);
}
.singup-header p{
    font-size: 15px;
    color: rgb(69, 64, 64);
}
.signup-body {
    margin: 10px 0;
}
.signup-body p{
    margin: 15px 0;
}
.signup-body p label{
    display:block;
    font-weight: bold;
}
.signup-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(82, 46, 46);
    border-radius: 4px;
    font-size: large;
}
#submit{
    background-color: rgb(100, 100, 183);
    color: aliceblue;
    cursor:pointer;
}
#submit:hover{
    background-color: rgb(37, 37, 200);
}
.signup-footer{
    text-align: center;
}
.signup-footer a{
    color: rgb(29, 29, 208);
}
.signup-footer a:hover{
    color: #2773a5;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top right,#ffffff33,#ffffffff);
    position: absolute;
}
.c1{
    top: 100px;
    left: 40px;
}
.c2{
    bottom: 200px;
    right: 50px;
}